# =========================
# Dataset
# =========================
data/
*.tar.gz
*.tif
*.geojson

# =========================
# Generated masks
# =========================
masks/
*.npy

# =========================
# Model checkpoints
# =========================
checkpoints/
*.pth
*.pt

# =========================
# Python
# =========================
__pycache__/
*.pyc
.venv/
venv/
env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Generated predictions
# =========================
results/predictions/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
